<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vizitkovník</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body>
<div class="seznam">
    <div th:each="vizitka, iterStat : ${seznam}">
        <a href="/detail" th:href="@{/detail(id=${iterStat.index})}">
            <div class="vizitka">
                <div class="jmeno"><span th:text="${vizitka.jmeno}"></span></div>
                <div class="firma"><span th:text="${vizitka.firma}"></span></div>
                <div class="udaje">
                    <div class="adresa">
                        <div th:text="${vizitka.ulice}"></div>
                        <div><span th:text="${vizitka.obecPsc}"></span></div>
                    </div>
                    <div class="kontakty">
                        <div th:if="${vizitka.email} != null">
                            <i class="las la-at"></i><span th:text="${vizitka.email}"></span>
                        </div>
                        <div th:if="${vizitka.telefon} != null">
                            <i class="las la-phone-alt"></i><span th:text="${vizitka.telefon}"></span>
                        </div>
                        <div th:if="${vizitka.web} != null">
                            <i class="las la-globe"></i><span th:text="${vizitka.web}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
</body>
</html>
